<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head"></head>
<body>
<div th:include="layout :: navigationPanel"></div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form th:action="@{/account/changepassword}" method="POST">
                <legend>Zmiana hasła</legend>
                <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="password" name="password" placeholder="Hasło">
                        <label for="password">Hasło</label>
                        <span th:if="${passwordError}" th:text="${passwordError}"  class="text-danger error-message">Error</span>
                    </div>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>

<div th:include="layout :: footer"></div>
</body>
</html>
